nav {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: #333;
    padding: 10px;
    padding-right: 30px;
    margin: 10px;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: orange;
}